In [42]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report, confusion_matrix
from nltk.tokenize import word_tokenize

In [43]:
data_train = pd.read_csv("twitter/twitter_training.csv")
data_test = pd.read_csv("twitter/twitter_validation.csv")

In [44]:
data_train

,id,place,sentiment,text
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
...,...,...,...,...
74677,9200,Nvidia,Positive,Just realized that the Windows partition of my...
74678,9200,Nvidia,Positive,Just realized that my Mac window partition is ...
74679,9200,Nvidia,Positive,Just realized the windows partition of my Mac ...
74680,9200,Nvidia,Positive,Just realized between the windows partition of...
74681,9200,Nvidia,Positive,Just like the windows partition of my Mac is l...

In [45]:
data_test

,id,place,sentiment,text
0,3364,Facebook,Irrelevant,I mentioned on Facebook that I was struggling ...
1,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
2,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...
3,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
4,4433,Google,Neutral,Now the President is slapping Americans in the...
...,...,...,...,...
995,4891,GrandTheftAuto(GTA),Irrelevant,⭐️ Toronto is the arts and culture capital of ...
996,4359,CS-GO,Irrelevant,tHIS IS ACTUALLY A GOOD MOVE TOT BRING MORE VI...
997,2652,Borderlands,Positive,Today sucked so it’s time to drink wine n play...
998,8069,Microsoft,Positive,Bought a fraction of Microsoft today. Small wins.
999,6960,johnson&johnson,Neutral,Johnson & Johnson to stop selling talc baby po...

In [46]:
data_train.isnull().sum()

id             0
place          0
sentiment      0
text         686
dtype: int64

In [47]:
data_test.isnull().sum()

id           0
place        0
sentiment    0
text         0
dtype: int64

In [48]:
data_train.dropna(inplace=True)

In [49]:
data_train.isnull().sum()

id           0
place        0
sentiment    0
text         0
dtype: int64

In [50]:
# Use LabelEncoder to encode sentiment labels
label_encoder = LabelEncoder()
data_train['sentiment_id'] = label_encoder.fit_transform(data_train['sentiment'])

In [51]:
# Use LabelEncoder to encode sentiment labels
label_encoder = LabelEncoder()
data_test['sentiment_id'] = label_encoder.fit_transform(data_test['sentiment'])

In [52]:
data_train

,id,place,sentiment,text,sentiment_id
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...,3
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...,3
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...,3
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...,3
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...,3
...,...,...,...,...,...
74677,9200,Nvidia,Positive,Just realized that the Windows partition of my...,3
74678,9200,Nvidia,Positive,Just realized that my Mac window partition is ...,3
74679,9200,Nvidia,Positive,Just realized the windows partition of my Mac ...,3
74680,9200,Nvidia,Positive,Just realized between the windows partition of...,3
74681,9200,Nvidia,Positive,Just like the windows partition of my Mac is l...,3

In [53]:
data_test

,id,place,sentiment,text,sentiment_id
0,3364,Facebook,Irrelevant,I mentioned on Facebook that I was struggling ...,0
1,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...,2
2,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...,1
3,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,...",1
4,4433,Google,Neutral,Now the President is slapping Americans in the...,2
...,...,...,...,...,...
995,4891,GrandTheftAuto(GTA),Irrelevant,⭐️ Toronto is the arts and culture capital of ...,0
996,4359,CS-GO,Irrelevant,tHIS IS ACTUALLY A GOOD MOVE TOT BRING MORE VI...,0
997,2652,Borderlands,Positive,Today sucked so it’s time to drink wine n play...,3
998,8069,Microsoft,Positive,Bought a fraction of Microsoft today. Small wins.,3
999,6960,johnson&johnson,Neutral,Johnson & Johnson to stop selling talc baby po...,2