# TF-IDF Vector

In [41]:
str1 = "In the 21st century, digital technology has transformed the way we approach education, making online learning platforms more popular than ever before."
str2 = "The stock market experienced a significant downturn last week, leading to concerns about the overall health of the global economy."
str3 = "The Olympic Games are a showcase of human athleticism and international unity, bringing together athletes from all corners of the world to compete on a grand stage."

In [42]:
collections = [str1, str2, str3]

In [43]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [44]:
tfidf = TfidfVectorizer()
tfidf1 = tfidf.fit_transform(collections)

In [45]:
print(tfidf.vocabulary_)
print(tfidf.idf_)

{'in': 27, 'the': 48, '21st': 0, 'century': 10, 'digital': 14, 'technology': 46, 'has': 24, 'transformed': 51, 'way': 53, 'we': 54, 'approach': 4, 'education': 17, 'making': 32, 'online': 38, 'learning': 31, 'platforms': 40, 'more': 34, 'popular': 41, 'than': 47, 'ever': 18, 'before': 8, 'stock': 45, 'market': 33, 'experienced': 19, 'significant': 43, 'downturn': 15, 'last': 29, 'week': 55, 'leading': 30, 'to': 49, 'concerns': 12, 'about': 1, 'overall': 39, 'health': 25, 'of': 35, 'global': 22, 'economy': 16, 'olympic': 36, 'games': 21, 'are': 5, 'showcase': 42, 'human': 26, 'athleticism': 7, 'and': 3, 'international': 28, 'unity': 52, 'bringing': 9, 'together': 50, 'athletes': 6, 'from': 20, 'all': 2, 'corners': 13, 'world': 56, 'compete': 11, 'on': 37, 'grand': 23, 'stage': 44}
[1.69314718 1.69314718 1.69314718 1.69314718 1.69314718 1.69314718
 1.69314718 1.69314718 1.69314718 1.69314718 1.69314718 1.69314718
 1.69314718 1.69314718 1.69314718 1.69314718 1.69314718 1.69314718
 1.69314718 1.69314718 1.69314718 1.69314718 1.69314718 1.69314718
 1.69314718 1.69314718 1.69314718 1.69314718 1.69314718 1.69314718
 1.69314718 1.69314718 1.69314718 1.69314718 1.69314718 1.28768207
 1.69314718 1.69314718 1.69314718 1.69314718 1.69314718 1.69314718
 1.69314718 1.69314718 1.69314718 1.69314718 1.69314718 1.69314718
 1.         1.28768207 1.69314718 1.69314718 1.69314718 1.69314718
 1.69314718 1.69314718 1.69314718]

In [46]:
terms = tfidf.get_feature_names_out()
print(terms)

['21st' 'about' 'all' 'and' 'approach' 'are' 'athletes' 'athleticism'
 'before' 'bringing' 'century' 'compete' 'concerns' 'corners' 'digital'
 'downturn' 'economy' 'education' 'ever' 'experienced' 'from' 'games'
 'global' 'grand' 'has' 'health' 'human' 'in' 'international' 'last'
 'leading' 'learning' 'making' 'market' 'more' 'of' 'olympic' 'on'
 'online' 'overall' 'platforms' 'popular' 'showcase' 'significant' 'stage'
 'stock' 'technology' 'than' 'the' 'to' 'together' 'transformed' 'unity'
 'way' 'we' 'week' 'world']

In [47]:
import pandas as pd

df = pd.DataFrame(
    data = tfidf1.toarray(),
    index = ['d1', 'd2', 'd3'],
    columns = terms
)

In [48]:
df

,21st,about,all,and,approach,are,athletes,athleticism,before,bringing,...,than,the,to,together,transformed,unity,way,we,week,world
d1,0.216193,0.000000,0.000000,0.000000,0.216193,0.000000,0.000000,0.000000,0.216193,0.000000,...,0.216193,0.255374,0.000000,0.000000,0.216193,0.000000,0.216193,0.216193,0.000000,0.000000
d2,0.000000,0.233786,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.414234,0.177800,0.000000,0.000000,0.000000,0.000000,0.000000,0.233786,0.000000
d3,0.000000,0.000000,0.202913,0.202913,0.000000,0.202913,0.202913,0.202913,0.000000,0.202913,...,0.000000,0.239688,0.154321,0.202913,0.000000,0.202913,0.000000,0.000000,0.000000,0.202913

# CountVector

In [49]:
from sklearn.feature_extraction.text import CountVectorizer

In [50]:
ctv = CountVectorizer()
ctv1 = ctv.fit_transform(collections)

In [51]:
terms = ctv.get_feature_names_out()
terms

array(['21st', 'about', 'all', 'and', 'approach', 'are', 'athletes',
       'athleticism', 'before', 'bringing', 'century', 'compete',
       'concerns', 'corners', 'digital', 'downturn', 'economy',
       'education', 'ever', 'experienced', 'from', 'games', 'global',
       'grand', 'has', 'health', 'human', 'in', 'international', 'last',
       'leading', 'learning', 'making', 'market', 'more', 'of', 'olympic',
       'on', 'online', 'overall', 'platforms', 'popular', 'showcase',
       'significant', 'stage', 'stock', 'technology', 'than', 'the', 'to',
       'together', 'transformed', 'unity', 'way', 'we', 'week', 'world'],
      dtype=object)

In [52]:
ctv.vocabulary_

{'in': 27,
 'the': 48,
 '21st': 0,
 'century': 10,
 'digital': 14,
 'technology': 46,
 'has': 24,
 'transformed': 51,
 'way': 53,
 'we': 54,
 'approach': 4,
 'education': 17,
 'making': 32,
 'online': 38,
 'learning': 31,
 'platforms': 40,
 'more': 34,
 'popular': 41,
 'than': 47,
 'ever': 18,
 'before': 8,
 'stock': 45,
 'market': 33,
 'experienced': 19,
 'significant': 43,
 'downturn': 15,
 'last': 29,
 'week': 55,
 'leading': 30,
 'to': 49,
 'concerns': 12,
 'about': 1,
 'overall': 39,
 'health': 25,
 'of': 35,
 'global': 22,
 'economy': 16,
 'olympic': 36,
 'games': 21,
 'are': 5,
 'showcase': 42,
 'human': 26,
 'athleticism': 7,
 'and': 3,
 'international': 28,
 'unity': 52,
 'bringing': 9,
 'together': 50,
 'athletes': 6,
 'from': 20,
 'all': 2,
 'corners': 13,
 'world': 56,
 'compete': 11,
 'on': 37,
 'grand': 23,
 'stage': 44}

In [53]:
import pandas as pd

df = pd.DataFrame(
    data = ctv1.toarray(),
    index = ['d1', 'd2', 'd3'],
    columns = terms
)

In [54]:
df

,21st,about,all,and,approach,are,athletes,athleticism,before,bringing,...,than,the,to,together,transformed,unity,way,we,week,world
d1,1,0,0,0,1,0,0,0,1,0,...,1,2,0,0,1,0,1,1,0,0
d2,0,1,0,0,0,0,0,0,0,0,...,0,3,1,0,0,0,0,0,1,0
d3,0,0,1,1,0,1,1,1,0,1,...,0,2,1,1,0,1,0,0,0,1